[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
freezegun = "*"
coverage = "*"

[packages]
django = "*"
django-debug-toolbar = "*"
uuid = "*"
python-dateutil = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
factory-boy = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
